ion-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .data-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex: 1;
            width: 100%;

            .description {
                border-bottom: 2px solid var(--primary-color);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                max-width: 600px;
                margin: 0 auto;
                padding: 10px 0;

                img {
                    width: 72pt;
                    margin-right: 10px;
                }

                .text-question {
                    font-size: 16pt;
                    margin-bottom: 5px;
                }

                .text-description {
                    font-size: 16pt;
                    color: #757575;
                    margin: 0;
                }
            }

            .personal-data {
                width: 90%;

                .form-title {
                    font-size: 16pt;
                }

                ion-select {
                    color: #AAAAAA;
                }

                ion-input {
                    color: #AAAAAA;
                }
            }

            .input-icon {
                color: black;
                font-size: 18pt;
            }

            .checkmark-icon {
                color: var(--primary-color);
                font-size: 18pt;
            }

            .error-item {
                --border-color: red;
                color: red;
            }

            .error-message {
                margin-left: 20px;
            }

            .btn-next {
                margin: 30px 0px;
            }
        }
    }
}

ion-backdrop {
    opacity: 0.9;
    background: #00000033;
}

ion-spinner {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
}