<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/personal-data"></ion-back-button>
      <div class="toolbar-title">
        <p class="font-size-16"><b>FINALIZAR</b></p>
        <img src="assets/steps/step-3.png" alt="">
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="principal">
    <div class="eula-content">
      <div class="description">
        <img src="assets/icons/coink-police.png" alt="">
        <div>
          <p class="title-description font-size-16"><b class="color-green">ESTAS MUY CERCA DE SER PARTE DE COINK.</b>
          </p>
          <p class="text-description font-size-14">Solo es necesario que leas detenidamente el contrato que se encuentra
            al final de
            esta pantalla y lo aceptes.</p>
        </div>
      </div>
      <div class="eula">
        <p><b class="title-description font-size-16 color-green">LO MÁS IMPORTANTE</b></p>
        <p class="font-size-14">Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que
          de acuerdo con
          nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer obligaciones.
          Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en
          el mes y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la
          apertura de un Depósito Ordinario COINK Persona Natural. Solo puedes tener una cuenta COINK de Bajo Monto y
          podrás utilizar tu dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y
          administrar tu cuenta. Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.</p>
        <a href="https://coink.com/terminos-y-condiciones-generales/" target="_blank"
          class="color-green font-size-16"><b>Lee tu
            contrato</b></a>
        <div>
          <ion-checkbox labelPlacement="end" [(ngModel)]="checkValue" class="font-size-16 color-green">He leído ya
            acepto el contrato</ion-checkbox>
        </div>

        <div class="btn-container">
          <ion-button class="btn-next" shape="round" size="large" (click)="onSubmit()"
            [disabled]="!checkValue">ACEPTAR</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>