<ion-content [fullscreen]="true">
  <div class="principal">
    <div class="container">
      <img src="assets/coink-logo.png" alt="">
      <div class="title">
        <strong>LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</strong>
      </div>
    </div>
    <div class="btn-container">
      <ion-button class="btn-next" shape="round" size="large" (click)="register()">REGÍSTRATE</ion-button>
      <ion-button class="btn-signup" shape="round" size="large">INGRESA</ion-button>
    </div>
  </div>
</ion-content>