<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button" icon="chevron-back-outline" defaultHref="/eula"></ion-back-button>
    </ion-buttons>
    <div class="toolbar-title">
      <p><b>LOG</b></p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(userData) {
  <div class="principal">
    <p><b>Documento: </b>{{userData.id}}</p>
    <p><b>Tipo de documento: </b>{{userData.idType}}</p>
    <p><b>Teléfono: </b>{{userData.phone}}</p>
    <p><b>Fecha de expedición: </b>{{userData.issueDate}}</p>
    <p><b>Fecha de nacimiento: </b>{{userData.birthdate}}</p>
    <p><b>Genero: </b>{{userData.gender}}</p>
    <p><b>Email: </b>{{userData.email}}</p>
    <p><b>pin: </b>{{userData.pin}}</p>
  </div>
  }
</ion-content>

@if(isVisible) {
<ion-backdrop [visible]="true"></ion-backdrop>

<div class="box">
  <img src="assets/icons/coink-gift.png" alt="">
  <p class="color-green"><b>¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</b></p>
  <p class="font-size-16">¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</p>
  <div class="btn-container">
    <ion-button class="btn-next" shape="round" size="large" type="submit" (click)="hideModal()">SIGUIENTE</ion-button>
  </div>
</div>
}